# Python General
*__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
.tox/
.coverage
.cache
.pytest_cache/
.env
.venv
env/
venv/

# Project-Specific
data/
reports/
*.db
*.sqlite
*.sqlite3

# OS Files (macOS, Windows)
.DS_Store
._*
Thumbs.db

# IDE Files
.vscode/
.idea/